.footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__content {
  width: 1100px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  width: 240px;

  display: inline-block;

.logo__image {
  width: 65px;
  height: 60px;
}

  .logo__text {
    font-size: 30px;
  }
}

.footer__copyright {
  color: #8d8d8d;
  font: 14px Arial, Helvetica, sans-serif;
  display: inline-block;
}

.footer__address {
  color: #8d8d8d;
  font: 14px Arial, Helvetica, sans-serif;
  display: inline-block;
}

.footer__social {
  width: 270px;
  display: inline-block;
}
