.questions {
  width: 100%;
  min-height: 760px;
  background-image: url(../../img/questions-bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    padding: 85px 80px;
  }
}

.questions__title {
  color: #fff;
  font: 40px/1.42 'als_malinaregular-cyrillic', Arial, sans-serif;
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}

.accordion__item {
  color: #fff;
  font: 22px Arial, Helvetica, sans-serif;
  list-style: decimal;
  margin-bottom: 40px;


  .accordion__trigger {
    color: #fff;
    border-bottom: 2px dashed #fff;
    padding: 3px 0;
    margin-bottom: 10px;
    display: inline-block;
  }


}

.accordion__item_active {
  color: $yallow;

p {
  color: #fff;
}

  .accordion__trigger {
    color: $yallow;
    border: none;
  }
}

.accordion__cont {
  width: 810px;
  margin-left: 60px;
  display: none;

  p {
    font: 15px/1.42 Arial, Helvetica, sans-serif;

  }
}
